Repository achocks0/conjure-mule-integration-smjoox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @payment-api-admins, @devops-team, @security-team, @project-management, @backend-team, @architecture-team, @api-team, @platform-team, @documentation-team, @qa-team

.github/CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence
* @payment-api-admins

# GitHub workflow files
# DevOps and Security teams own GitHub workflow configurations
.github/workflows/* @devops-team @security-team

# GitHub templates
# Project management team owns issue templates
.github/ISSUE_TEMPLATE/* @project-management

# Backend common code
# Backend and Architecture teams own common code shared across services
src/backend/common/** @backend-team @architecture-team

# Payment EAPI
# Backend and API teams own the Payment External API service
src/backend/payment-eapi/** @backend-team @api-team

# Payment SAPI
# Backend and API teams own the Payment System API service
src/backend/payment-sapi/** @backend-team @api-team

# Credential Rotation
# Backend and Security teams own the Credential Rotation service
src/backend/credential-rotation/** @backend-team @security-team

# Monitoring
# Backend and DevOps teams own the Monitoring service
src/backend/monitoring/** @backend-team @devops-team

# Kubernetes configurations
# DevOps and Platform teams own Kubernetes configuration files
src/backend/kubernetes/** @devops-team @platform-team

# Terraform configurations
# DevOps and Platform teams own Terraform infrastructure code
src/backend/terraform/** @devops-team @platform-team

# Docker files
# DevOps and Security teams own Docker configuration files
src/backend/Dockerfile-* @devops-team @security-team

# Scripts
# DevOps and Backend teams own utility scripts
src/scripts/** @devops-team @backend-team

# Conjur integration
# Security and Backend teams own Conjur vault integration scripts
src/scripts/conjur/** @security-team @backend-team

# Infrastructure configurations
# DevOps and Platform teams own infrastructure configuration files
infrastructure/** @devops-team @platform-team

# Documentation
# Documentation and Architecture teams own project documentation
docs/** @documentation-team @architecture-team

# API documentation
# API and Documentation teams own API documentation
docs/api/** @api-team @documentation-team

# Security documentation
# Security and Documentation teams own security documentation
docs/architecture/network-security.md @security-team @documentation-team

# Test files
# QA and Backend teams own test files
**/*Test.java @qa-team @backend-team

# Security-critical files
# Security team owns all security-related code
**/security/** @security-team

# Authentication and token handling
# Security and Backend teams own authentication-related code
**/auth*/** @security-team @backend-team

# Token generation and validation
# Security and Backend teams own token-related code
**/token/** @security-team @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/conjur-deployment.yaml
  src/backend/kubernetes/conjur-deployment.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/conjur-service.yaml
  src/backend/kubernetes/conjur-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/eapi-configmap.yaml
  src/backend/kubernetes/eapi-configmap.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/eapi-deployment.yaml
  src/backend/kubernetes/eapi-deployment.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/eapi-secret.yaml
  src/backend/kubernetes/eapi-secret.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/eapi-service.yaml
  src/backend/kubernetes/eapi-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/ingress.yaml
  src/backend/kubernetes/ingress.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/monitoring-deployment.yaml
  src/backend/kubernetes/monitoring-deployment.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/monitoring-service.yaml
  src/backend/kubernetes/monitoring-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/network-policy.yaml
  src/backend/kubernetes/network-policy.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/redis-service.yaml
  src/backend/kubernetes/redis-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/redis-statefulset.yaml
  src/backend/kubernetes/redis-statefulset.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/sapi-configmap.yaml
  src/backend/kubernetes/sapi-configmap.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/sapi-deployment.yaml
  src/backend/kubernetes/sapi-deployment.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/sapi-secret.yaml
  src/backend/kubernetes/sapi-secret.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/kubernetes/sapi-service.yaml
  src/backend/kubernetes/sapi-service.yaml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/pom.xml
  src/backend/monitoring/pom.xml
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/java/com/payment/monitoring/MonitoringApplication.java
  src/backend/monitoring/src/main/java/com/payment/monitoring/MonitoringApplication.java
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/java/com/payment/monitoring/config/MonitoringConfig.java
  src/backend/monitoring/src/main/java/com/payment/monitoring/config/MonitoringConfig.java
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/java/com/payment/monitoring/controller/MetricsController.java
  src/backend/monitoring/src/main/java/com/payment/monitoring/controller/MetricsController.java
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/java/com/payment/monitoring/service/AlertService.java
  src/backend/monitoring/src/main/java/com/payment/monitoring/service/AlertService.java
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/java/com/payment/monitoring/service/MetricsCollectionService.java
  src/backend/monitoring/src/main/java/com/payment/monitoring/service/MetricsCollectionService.java
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/java/com/payment/monitoring/service/impl/AlertServiceImpl.java
  src/backend/monitoring/src/main/java/com/payment/monitoring/service/impl/AlertServiceImpl.java
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/java/com/payment/monitoring/service/impl/PrometheusMetricsService.java
  src/backend/monitoring/src/main/java/com/payment/monitoring/service/impl/PrometheusMetricsService.java
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/resources/alerts.yml
  src/backend/monitoring/src/main/resources/alerts.yml
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/resources/application-dev.yml
  src/backend/monitoring/src/main/resources/application-dev.yml
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/resources/application-prod.yml
  src/backend/monitoring/src/main/resources/application-prod.yml
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/main/resources/application.yml
  src/backend/monitoring/src/main/resources/application.yml
Owners: @backend-team, @devops-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/monitoring/src/test/java/com/payment/monitoring/service/AlertServiceTest.java
  src/backend/monitoring/src/test/java/com/payment/monitoring/service/AlertServiceTest.java
Owners: @qa-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/pom.xml
  src/backend/payment-eapi/pom.xml
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/PaymentEapiApplication.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/PaymentEapiApplication.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/config/ConjurConfig.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/config/ConjurConfig.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/config/DatabaseConfig.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/config/DatabaseConfig.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/config/RedisConfig.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/config/RedisConfig.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/config/SecurityConfig.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/config/SecurityConfig.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/controller/AuthenticationController.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/controller/AuthenticationController.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/controller/HealthController.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/controller/HealthController.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/controller/PaymentController.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/controller/PaymentController.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/exception/AuthenticationException.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/exception/AuthenticationException.java
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-eapi/src/main/java/com/payment/eapi/exception/ConjurException.java
  src/backend/payment-eapi/src/main/java/com/payment/eapi/exception/ConjurException.java
Owners: @backend-team, @api-team
