Repository achocks0/conjure-mule-integration-smjoox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @payment-api-admins, @devops-team, @security-team, @project-management, @backend-team, @architecture-team, @api-team, @platform-team, @documentation-team, @qa-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/prometheus/prometheus.yml
  infrastructure/prometheus/prometheus.yml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/README.md
  src/backend/README.md
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/checkstyle.xml
  src/backend/checkstyle.xml
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/mvnw.cmd
  src/backend/mvnw.cmd
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/pom.xml
  src/backend/pom.xml
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/.mvn/wrapper/maven-wrapper.properties
  src/backend/.mvn/wrapper/maven-wrapper.properties
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/pom.xml
  src/backend/common/pom.xml
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/config/MetricsConfig.java
  src/backend/common/src/main/java/com/payment/common/config/MetricsConfig.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/exception/CommonExceptionHandler.java
  src/backend/common/src/main/java/com/payment/common/exception/CommonExceptionHandler.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/model/ErrorResponse.java
  src/backend/common/src/main/java/com/payment/common/model/ErrorResponse.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/model/TokenClaims.java
  src/backend/common/src/main/java/com/payment/common/model/TokenClaims.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/monitoring/MetricsService.java
  src/backend/common/src/main/java/com/payment/common/monitoring/MetricsService.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/monitoring/impl/MicrometerMetricsService.java
  src/backend/common/src/main/java/com/payment/common/monitoring/impl/MicrometerMetricsService.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/util/SecurityUtils.java
  src/backend/common/src/main/java/com/payment/common/util/SecurityUtils.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/util/TokenGenerator.java
  src/backend/common/src/main/java/com/payment/common/util/TokenGenerator.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/main/java/com/payment/common/util/TokenValidator.java
  src/backend/common/src/main/java/com/payment/common/util/TokenValidator.java
Owners: @backend-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/test/java/com/payment/common/util/TokenGeneratorTest.java
  src/backend/common/src/test/java/com/payment/common/util/TokenGeneratorTest.java
Owners: @qa-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/common/src/test/java/com/payment/common/util/TokenValidatorTest.java
  src/backend/common/src/test/java/com/payment/common/util/TokenValidatorTest.java
Owners: @qa-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/pom.xml
  src/backend/credential-rotation/pom.xml
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/CredentialRotationApplication.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/CredentialRotationApplication.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/config/ConjurConfig.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/config/ConjurConfig.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/config/RotationConfig.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/config/RotationConfig.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/controller/RotationController.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/controller/RotationController.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/model/RotationRequest.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/model/RotationRequest.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/model/RotationResponse.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/model/RotationResponse.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/model/RotationState.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/model/RotationState.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/scheduler/RotationScheduler.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/scheduler/RotationScheduler.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/service/ConjurService.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/service/ConjurService.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/service/NotificationService.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/service/NotificationService.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/service/RotationService.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/service/RotationService.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/service/impl/ConjurServiceImpl.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/service/impl/ConjurServiceImpl.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/service/impl/NotificationServiceImpl.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/service/impl/NotificationServiceImpl.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/java/com/payment/rotation/service/impl/RotationServiceImpl.java
  src/backend/credential-rotation/src/main/java/com/payment/rotation/service/impl/RotationServiceImpl.java
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/resources/application-dev.yml
  src/backend/credential-rotation/src/main/resources/application-dev.yml
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/resources/application-prod.yml
  src/backend/credential-rotation/src/main/resources/application-prod.yml
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/main/resources/application.yml
  src/backend/credential-rotation/src/main/resources/application.yml
Owners: @backend-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/test/java/com/payment/rotation/controller/RotationControllerTest.java
  src/backend/credential-rotation/src/test/java/com/payment/rotation/controller/RotationControllerTest.java
Owners: @qa-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/credential-rotation/src/test/java/com/payment/rotation/service/RotationServiceTest.java
  src/backend/credential-rotation/src/test/java/com/payment/rotation/service/RotationServiceTest.java
Owners: @qa-team, @backend-team

.github/CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence
* @payment-api-admins

# GitHub workflow files
# DevOps and Security teams own GitHub workflow configurations
.github/workflows/* @devops-team @security-team

# GitHub templates
# Project management team owns issue templates
.github/ISSUE_TEMPLATE/* @project-management

# Backend common code
# Backend and Architecture teams own common code shared across services
src/backend/common/** @backend-team @architecture-team

# Payment EAPI
# Backend and API teams own the Payment External API service
src/backend/payment-eapi/** @backend-team @api-team

# Payment SAPI
# Backend and API teams own the Payment System API service
src/backend/payment-sapi/** @backend-team @api-team

# Credential Rotation
# Backend and Security teams own the Credential Rotation service
src/backend/credential-rotation/** @backend-team @security-team

# Monitoring
# Backend and DevOps teams own the Monitoring service
src/backend/monitoring/** @backend-team @devops-team

# Kubernetes configurations
# DevOps and Platform teams own Kubernetes configuration files
src/backend/kubernetes/** @devops-team @platform-team

# Terraform configurations
# DevOps and Platform teams own Terraform infrastructure code
src/backend/terraform/** @devops-team @platform-team

# Docker files
# DevOps and Security teams own Docker configuration files
src/backend/Dockerfile-* @devops-team @security-team

# Scripts
# DevOps and Backend teams own utility scripts
src/scripts/** @devops-team @backend-team

# Conjur integration
# Security and Backend teams own Conjur vault integration scripts
src/scripts/conjur/** @security-team @backend-team

# Infrastructure configurations
# DevOps and Platform teams own infrastructure configuration files
infrastructure/** @devops-team @platform-team

# Documentation
# Documentation and Architecture teams own project documentation
docs/** @documentation-team @architecture-team

# API documentation
# API and Documentation teams own API documentation
docs/api/** @api-team @documentation-team

# Security documentation
# Security and Documentation teams own security documentation
docs/architecture/network-security.md @security-team @documentation-team

# Test files
# QA and Backend teams own test files
**/*Test.java @qa-team @backend-team

# Security-critical files
# Security team owns all security-related code
**/security/** @security-team

# Authentication and token handling
# Security and Backend teams own authentication-related code
**/auth*/** @security-team @backend-team

# Token generation and validation
# Security and Backend teams own token-related code
**/token/** @security-team @backend-team
