Repository achocks0/conjure-mule-integration-smjoox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @payment-api-admins, @devops-team, @security-team, @project-management, @backend-team, @architecture-team, @api-team, @platform-team, @documentation-team, @qa-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-sapi/src/test/java/com/payment/sapi/service/TokenRenewalServiceTest.java
  src/backend/payment-sapi/src/test/java/com/payment/sapi/service/TokenRenewalServiceTest.java
Owners: @qa-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-sapi/src/test/java/com/payment/sapi/service/TokenValidationServiceTest.java
  src/backend/payment-sapi/src/test/java/com/payment/sapi/service/TokenValidationServiceTest.java
Owners: @qa-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/payment-sapi/src/test/resources/application-test.yml
  src/backend/payment-sapi/src/test/resources/application-test.yml
Owners: @backend-team, @api-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/scripts/build.sh
  src/backend/scripts/build.sh
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/scripts/health-check.sh
  src/backend/scripts/health-check.sh
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/scripts/rotate-credentials.sh
  src/backend/scripts/rotate-credentials.sh
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/conjur.tf
  src/backend/terraform/conjur.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/kubernetes.tf
  src/backend/terraform/kubernetes.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/main.tf
  src/backend/terraform/main.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/monitoring.tf
  src/backend/terraform/monitoring.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/networking.tf
  src/backend/terraform/networking.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/outputs.tf
  src/backend/terraform/outputs.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/redis.tf
  src/backend/terraform/redis.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/variables.tf
  src/backend/terraform/variables.tf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/environments/dev/terraform.tfvars
  src/backend/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/environments/prod/terraform.tfvars
  src/backend/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/backend/terraform/environments/staging/terraform.tfvars
  src/backend/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/.gitignore
  src/scripts/.gitignore
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/README.md
  src/scripts/README.md
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/requirements.txt
  src/scripts/requirements.txt
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/setup.py
  src/scripts/setup.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/README.md
  src/scripts/conjur/README.md
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/authenticate.py
  src/scripts/conjur/authenticate.py
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/config.py
  src/scripts/conjur/config.py
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/retrieve_credentials.py
  src/scripts/conjur/retrieve_credentials.py
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/rotate_credentials.py
  src/scripts/conjur/rotate_credentials.py
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/setup_vault.py
  src/scripts/conjur/setup_vault.py
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/store_credentials.py
  src/scripts/conjur/store_credentials.py
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/conjur/utils.py
  src/scripts/conjur/utils.py
Owners: @security-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/deployment/README.md
  src/scripts/deployment/README.md
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/deployment/backup_metadata.py
  src/scripts/deployment/backup_metadata.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/deployment/config.py
  src/scripts/deployment/config.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/deployment/restore_metadata.py
  src/scripts/deployment/restore_metadata.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/deployment/setup_environments.py
  src/scripts/deployment/setup_environments.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/deployment/sync_environments.py
  src/scripts/deployment/sync_environments.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/deployment/utils.py
  src/scripts/deployment/utils.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/monitoring/README.md
  src/scripts/monitoring/README.md
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/monitoring/config.py
  src/scripts/monitoring/config.py
Owners: @devops-team, @backend-team

Add public-samples/conjure-mule-integration-smjoox/src/scripts/monitoring/credential_usage_metrics.py
  src/scripts/monitoring/credential_usage_metrics.py
Owners: @devops-team, @backend-team

.github/CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence
* @payment-api-admins

# GitHub workflow files
# DevOps and Security teams own GitHub workflow configurations
.github/workflows/* @devops-team @security-team

# GitHub templates
# Project management team owns issue templates
.github/ISSUE_TEMPLATE/* @project-management

# Backend common code
# Backend and Architecture teams own common code shared across services
src/backend/common/** @backend-team @architecture-team

# Payment EAPI
# Backend and API teams own the Payment External API service
src/backend/payment-eapi/** @backend-team @api-team

# Payment SAPI
# Backend and API teams own the Payment System API service
src/backend/payment-sapi/** @backend-team @api-team

# Credential Rotation
# Backend and Security teams own the Credential Rotation service
src/backend/credential-rotation/** @backend-team @security-team

# Monitoring
# Backend and DevOps teams own the Monitoring service
src/backend/monitoring/** @backend-team @devops-team

# Kubernetes configurations
# DevOps and Platform teams own Kubernetes configuration files
src/backend/kubernetes/** @devops-team @platform-team

# Terraform configurations
# DevOps and Platform teams own Terraform infrastructure code
src/backend/terraform/** @devops-team @platform-team

# Docker files
# DevOps and Security teams own Docker configuration files
src/backend/Dockerfile-* @devops-team @security-team

# Scripts
# DevOps and Backend teams own utility scripts
src/scripts/** @devops-team @backend-team

# Conjur integration
# Security and Backend teams own Conjur vault integration scripts
src/scripts/conjur/** @security-team @backend-team

# Infrastructure configurations
# DevOps and Platform teams own infrastructure configuration files
infrastructure/** @devops-team @platform-team

# Documentation
# Documentation and Architecture teams own project documentation
docs/** @documentation-team @architecture-team

# API documentation
# API and Documentation teams own API documentation
docs/api/** @api-team @documentation-team

# Security documentation
# Security and Documentation teams own security documentation
docs/architecture/network-security.md @security-team @documentation-team

# Test files
# QA and Backend teams own test files
**/*Test.java @qa-team @backend-team

# Security-critical files
# Security team owns all security-related code
**/security/** @security-team

# Authentication and token handling
# Security and Backend teams own authentication-related code
**/auth*/** @security-team @backend-team

# Token generation and validation
# Security and Backend teams own token-related code
**/token/** @security-team @backend-team
