Repository achocks0/conjure-mule-integration-smjoox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @payment-api-admins, @devops-team, @security-team, @project-management, @backend-team, @architecture-team, @api-team, @platform-team, @documentation-team, @qa-team

.github/CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence
* @payment-api-admins

# GitHub workflow files
# DevOps and Security teams own GitHub workflow configurations
.github/workflows/* @devops-team @security-team

# GitHub templates
# Project management team owns issue templates
.github/ISSUE_TEMPLATE/* @project-management

# Backend common code
# Backend and Architecture teams own common code shared across services
src/backend/common/** @backend-team @architecture-team

# Payment EAPI
# Backend and API teams own the Payment External API service
src/backend/payment-eapi/** @backend-team @api-team

# Payment SAPI
# Backend and API teams own the Payment System API service
src/backend/payment-sapi/** @backend-team @api-team

# Credential Rotation
# Backend and Security teams own the Credential Rotation service
src/backend/credential-rotation/** @backend-team @security-team

# Monitoring
# Backend and DevOps teams own the Monitoring service
src/backend/monitoring/** @backend-team @devops-team

# Kubernetes configurations
# DevOps and Platform teams own Kubernetes configuration files
src/backend/kubernetes/** @devops-team @platform-team

# Terraform configurations
# DevOps and Platform teams own Terraform infrastructure code
src/backend/terraform/** @devops-team @platform-team

# Docker files
# DevOps and Security teams own Docker configuration files
src/backend/Dockerfile-* @devops-team @security-team

# Scripts
# DevOps and Backend teams own utility scripts
src/scripts/** @devops-team @backend-team

# Conjur integration
# Security and Backend teams own Conjur vault integration scripts
src/scripts/conjur/** @security-team @backend-team

# Infrastructure configurations
# DevOps and Platform teams own infrastructure configuration files
infrastructure/** @devops-team @platform-team

# Documentation
# Documentation and Architecture teams own project documentation
docs/** @documentation-team @architecture-team

# API documentation
# API and Documentation teams own API documentation
docs/api/** @api-team @documentation-team

# Security documentation
# Security and Documentation teams own security documentation
docs/architecture/network-security.md @security-team @documentation-team

# Test files
# QA and Backend teams own test files
**/*Test.java @qa-team @backend-team

# Security-critical files
# Security team owns all security-related code
**/security/** @security-team

# Authentication and token handling
# Security and Backend teams own authentication-related code
**/auth*/** @security-team @backend-team

# Token generation and validation
# Security and Backend teams own token-related code
**/token/** @security-team @backend-team

Add public-samples/conjure-mule-integration-smjoox/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-management

Add public-samples/conjure-mule-integration-smjoox/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-management

Add public-samples/conjure-mule-integration-smjoox/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @devops-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @devops-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/.github/workflows/performance-test.yml
  .github/workflows/performance-test.yml
Owners: @devops-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @security-team

Add public-samples/conjure-mule-integration-smjoox/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @payment-api-admins

Add public-samples/conjure-mule-integration-smjoox/docs/README.md
  docs/README.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/api/payment-eapi.yaml
  docs/api/payment-eapi.yaml
Owners: @api-team, @documentation-team

Add public-samples/conjure-mule-integration-smjoox/docs/api/payment-sapi.yaml
  docs/api/payment-sapi.yaml
Owners: @api-team, @documentation-team

Add public-samples/conjure-mule-integration-smjoox/docs/architecture/authentication-flow.md
  docs/architecture/authentication-flow.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/architecture/credential-rotation.md
  docs/architecture/credential-rotation.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/architecture/high-level-architecture.md
  docs/architecture/high-level-architecture.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/architecture/network-security.md
  docs/architecture/network-security.md
Owners: @security-team, @documentation-team

Add public-samples/conjure-mule-integration-smjoox/docs/architecture/system-boundaries.md
  docs/architecture/system-boundaries.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/development/code-standards.md
  docs/development/code-standards.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/development/getting-started.md
  docs/development/getting-started.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/development/security-guidelines.md
  docs/development/security-guidelines.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/development/testing-guide.md
  docs/development/testing-guide.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/operations/credential-rotation-runbook.md
  docs/operations/credential-rotation-runbook.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/operations/deployment-guide.md
  docs/operations/deployment-guide.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/operations/disaster-recovery.md
  docs/operations/disaster-recovery.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/operations/incident-response.md
  docs/operations/incident-response.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/docs/operations/monitoring-guide.md
  docs/operations/monitoring-guide.md
Owners: @documentation-team, @architecture-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/docker-compose.yml
  infrastructure/docker-compose.yml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/conjur/policy/eapi-policy.yml
  infrastructure/conjur/policy/eapi-policy.yml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/conjur/policy/rotation-policy.yml
  infrastructure/conjur/policy/rotation-policy.yml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/conjur/policy/sapi-policy.yml
  infrastructure/conjur/policy/sapi-policy.yml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/elk/filebeat/filebeat.yml
  infrastructure/elk/filebeat/filebeat.yml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/elk/logstash/pipeline/logstash.conf
  infrastructure/elk/logstash/pipeline/logstash.conf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/grafana/dashboards/authentication-dashboard.json
  infrastructure/grafana/dashboards/authentication-dashboard.json
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/grafana/dashboards/security-dashboard.json
  infrastructure/grafana/dashboards/security-dashboard.json
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/grafana/dashboards/service-health-dashboard.json
  infrastructure/grafana/dashboards/service-health-dashboard.json
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/grafana/provisioning/datasources/prometheus.yml
  infrastructure/grafana/provisioning/datasources/prometheus.yml
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/nginx/nginx.conf
  infrastructure/nginx/nginx.conf
Owners: @devops-team, @platform-team

Add public-samples/conjure-mule-integration-smjoox/infrastructure/prometheus/alert-rules.yml
  infrastructure/prometheus/alert-rules.yml
Owners: @devops-team, @platform-team
